In [1]:
#regresion and classification are supervised learning(where we test models)
#but clustering is unsupervised learning (no model testing)
# we group data into clusters each of this clusters have similarities

import pandas
df = pandas.read_csv("Mall_Customers.csv")
df.head()

   CustomerID  Gender  Age  Annual Income  Spending Score
0           1    Male   19           15.0            39.0
1           2    Male   21           15.0            81.0
2           3  Female   20           16.0             6.0
3           4  Female   23           16.0            77.0
4           5  Female   31           17.0            40.0

In [3]:
#below we split data into clusters 
# Here we want to cluster mall customers by age income and spending score
#age will help us know the graphics 
#income will help us understand the shoping capabilities
# spending score will asist in knowing the spending habits 
#hence we select column 2 to 4
# first we remove all empty rows 
df.dropna(inplace=True)
# we then setup the data
array = df.values
x = array[:, 2:5] # age, income, spending score
#no variable y
#next we fit x into the model 
#the model is called K-means
from sklearn.cluster import KMeans
model = KMeans(n_clusters=10,random_state=42)
model.fit(x)

c:\Users\user\Desktop\Data Science\DAY01\env\Lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

KMeans(n_clusters=10, random_state=42)

In [5]:
#Next, We Find the Clusters that K means Created - 10 Clusters. K Means shows Each Clusters and Its Means/Average For Age, Income, Spending Score. The Average Per Cluster Helps you know that the records in That Group in close to the means shown.
means = model.cluster_centers_
clusters = pandas.DataFrame(means,columns=["age","income","score"])
clusters

         age      income      score
0  61.500000   51.230769  50.230769
1  25.103448   56.068966  50.758621
2  43.750000  106.500000  19.875000
3  25.272727   25.727273  79.363636
4  48.750000   24.583333   9.583333
5  32.900000  108.900000  84.200000
6  46.500000   61.625000  46.000000
7  38.230769   30.384615  35.076923
8  32.740741   78.037037  81.592593
9  39.190476   79.190476  13.190476

In [6]:
#we show all records in cluster 5
df["no"] = model.labels_
cluster5 = df[df["no"]==5]
cluster5

     CustomerID  Gender  Age  Annual Income  Spending Score  no
179         180    Male   35           93.0            90.0   5
181         182  Female   32           97.0            86.0   5
183         184  Female   29           98.0            88.0   5
185         186    Male   30           99.0            97.0   5
189         190  Female   36          103.0            85.0   5
191         192  Female   32          103.0            69.0   5
193         194  Female   38          113.0            91.0   5
195         196  Female   35          120.0            79.0   5
197         198    Male   32          126.0            74.0   5
199         200    Male   30          137.0            83.0   5

In [ ]:
df[df["no"]==5].to_csv("cluster5.csv")